{
  'env': {
    'node': true
  },
  'ecmaFeatures': {
    'generators': true
  },
  'rules': {
    // Require Camelcase
    'camelcase': false,

    // Enforces spacing around commas
    'comma-spacing': false,

    // Require Following Curly Brace Conventions
    'curly': false,

    // Require === and !==
    'eqeqeq': false,

    // Validate Indentation
    'indent': [2, 2],

    // Ensures Callback Error Handling
    'handle-callback-err': false,

    // Enforce Property Spacing
    'key-spacing': false,

    // Disallow Mixed Requires
    'no-mixed-requires': false,

    // Disallow Redeclaring Variables
    'no-redeclare': false,

    // Disallow Shadowing
    'no-shadow': false,

    // Disallow Undeclared Variables
    'no-undef': false,

    // Disallow Unused Variables
    'no-unused-vars': [2, {'vars': 'all', 'args': 'none'}],

    // Disallow Early Use
    'no-use-before-define': false,

    // Enforce Quote Style
    'quotes': [2, 'single'],

    // Enforce Semicolons
    'semi': [2, 'never'],

    // Require Spaces Around Infix Operators
    'space-infix-ops': false,

    // Strict Mode
    'strict': [2, 'global']
  }
}
