{
  extends: 'standard',

  env: {
    mocha: true
  },

  // Almost Standard
  rules: {
    // Disable: Closing curly brace does not appear on the same line as the subsequent block
    'brace-style': [2, 'stroustrup'],

    // Config: Enforce spacing around the * in generator functions
    'generator-star-spacing': [2, {'before': false, 'after': true}],

    // Disable: More than 1 blank line not allowed
    'no-multiple-empty-lines': 'off',

    // Disable: Disallow Redeclaring Variables
    // (A bunch of vars inside `else if` blocks)
    'no-redeclare': 0,

    // Disable: Block must not be padded by blank lines
    'padded-blocks': 'off',


    // Unit Tests

    // Disable: Require Camelcase
    'camelcase': 0,

    // Disable: Enforce Callback Error Handling
    'handle-callback-err': 0,

    // Disable: Require or Disallow One Variable Declaration per Scope
    'one-var': 0
  }
}
