{
  env: {
    node: true
  },
  parserOptions: {
    ecmaVersion: 6
  },
  rules: {
    // Require === and !==
    eqeqeq: [2, 'smart'],

    // Validate Indentation
    indent: [2, 2],

    // Enforce Quote Style
    quotes: [2, 'single'],

    // Enforce or Disallow Semicolons
    semi: [2, 'never'],

    // Require Spaces Around Infix Operators
    space-infix-ops: [2, {'int32Hint': true}],

    // Strict Mode Directives
    strict: [2, 'global']
  }
}
