{
  'env': {
    'node': true
  },
  'ecmaFeatures': {
    'generators': true
  },
  'rules': {
    // Validate Indentation
    'indent': [2, 2],

    // Enforce Quote Style
    'quotes': [2, 'single'],

    // Enforce Semicolons
    'semi': [2, 'never'],

    // Strict Mode
    'strict': [2, 'global']
  }
}
